/* --- Noto Serif Display (Extra Condensed) --- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wdth,wght@0,62.5,100..900;1,62.5,100..900&display=swap');

/* --- Poppins --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

  /* --- Mölndal --- */
  --ocean: #004d79;
  --azure: #0080cb;
  --scallop: #fdd9c1;
  --ice: #c2e8fe;
  --strawberry: #c6262e; /* För felmeddelanden */


  /* --- Silver Colors --- */
  --silver-100: #fafafa;
  --silver-300: #d4d4d4;
  --silver: #abacae;
  --silver-700: #7e8087;
  --silver-900: #555761;

  /* --- Slate Colors --- */
  --slate-100: #95a3ab;
  --slate-300: #667885;
  --slate: #485a6c;
  --slate-700: #273445;
  --slate-900: #0e141f;

  /* --- Misc. --- */
  --drop-shadow: color-mix(in srgb, var(--slate-900) 20%, transparent);
}
