html * {
    font-family: 'Inter', sans-serif; /* Weight from 100 to 900 */
    background-color: var(--silver-100);
    color: var(--slate-900);
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

header {
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px var(--drop-shadow);
    padding: 1.5em;
    z-index: 10;
}

footer {
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mint);
    color: var(--silver-100);
    box-shadow: 0 -3px 8px var(--drop-shadow);
    padding: 1.5em;
    z-index: 10;
    font-size: small;
}

footer *{
    background-color: var(--mint);
    color: var(--silver-100);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}
