h1, h2, h3, h4, h5 {
  color: var(--ocean);  
}

/* h1 {

} */

/* h2 {

} */

/* h3 {

} */

/* h4 {

} */

/* h4 {

} */

a {
    color: var(--azure);
}

nav>a {
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    opacity: 0%;
    background-color: var(--ocean);
    transition-property: opacity, left;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

nav>a:hover {
    color: var(--ocean);
}

nav>a:hover::after {
    opacity: 100%;
    left: 0;
}

footer a {
    color: var(--silver-100);
}

.element-name {
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,
                -1px 1px 0 black, 1px 1px 0 black;
}

.logo {
    text-decoration: none;
}

.logo *{
    font-family: "Afacad Flux", sans-serif;
    color: var(--azure);
    font-size: x-large;
}