/* h1 {

} */

/* h2 {

} */

/* h3 {

} */

/* h4 {

} */

/* h4 {

} */

/* a {
} */

nav>a {
    color: var(--mint);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    opacity: 0%;
    background-color: var(--mint-300);
    transition-property: opacity, left;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

nav>a:hover {
    color: var(--mint-300);
}

nav>a:hover::after {
    opacity: 100%;
    left: 0;
}


.element-name {
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,
                -1px 1px 0 black, 1px 1px 0 black;
}

.logo {
    text-decoration: none;
}

.logo *{
    font-family: "Afacad Flux", sans-serif;
    color: var(--mint);
    font-size: x-large;
}

.staff-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: fit-content;
}

.staff-card table tr td:first-child{
    color: var(--mint);
    font-weight: bold;
    text-align: right;
}

.staff-card table tr td:first-child::after{
    content: ':';
}