h1, h2, h3, h4, h5 {
  color: var(--ocean);  
}

/* h1 {

} */

/* h2 {

} */

/* h3 {

} */

/* h4 {

} */

/* h4 {

} */

a {
    color: var(--azure);
}

nav>a {
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    opacity: 0%;
    background-color: var(--ocean);
    transition-property: opacity, left;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

nav>a:hover {
    color: var(--ocean);
}

nav>a:hover::after {
    opacity: 100%;
    left: 0;
}

footer a {
    color: var(--silver-100);
}

.logo {
    text-decoration: none;
}

.logo *{
    font-family: "Noto Serif Display", sans-serif;
    color: var(--azure);
    font-size: xx-large;
}

.profile-grid h1
{
    text-align: center;
    margin: 0;
    margin-top: 1em;
}

.profile-link
{
    text-align: center;
    text-decoration: none;
    background-color: unset;
    color: var(--silver-100);
    transition: background-color 0.3s;
    border-radius: 1.2em;
    padding-bottom: 1em;
}

.profile-link:hover
{
    background-color: var(--azure);
}

.profile-link>img
{
    font-size: xx-large;
    display: block;
}