.push-button ,
input[type=submit] {
    text-decoration: none;
    color: var(--silver-100);
    background-color: var(--azure);
    border-radius: 0.8em;
    padding: 0.8em 1em;
    width: fit-content;
    font-weight: 500;
    border: none;
}

.push-button:hover ,
input[type=submit]:hover {
    background-color: var(--ocean);
}

.push-button:hover ,
input[type=submit]:hover ,
button:hover {
    cursor: pointer;
}

input[type=text] ,
input[type=password] ,
textarea {
    border-radius: 0.5em;
    border: 2px solid var(--azure);
    color: var(--mint-700);
    padding: 0.7em;
}

.login-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--drop-shadow);
    border-radius: 1em;
    color: var(--azure);
    padding: 2em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    flex-grow: 1;
    font-size: medium;
    flex-basis: 50%;
}

.bankid-qr {
    position: relative;
    overflow: visible;
}

.bankid-qr::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    bottom: -1em;
    background-color: var(--azure);
    animation: loading 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes loading {
    0% {
        width: 2%;
        left: 0%;
    }
    50%{
        width: 20%;
        left: 40%;
    }
    100%{
        width: 2%;
        left: 98%;
    }
}
