.push-button ,
input[type=submit] {
    text-decoration: none;
    color: var(--silver-100);
    background-color: var(--azure);
    border-radius: 0.8em;
    padding: 0.8em 1em;
    width: fit-content;
    font-weight: 500;
    border: none;
    display: inline-block;
    transition-property: background-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.push-button:hover ,
input[type=submit]:hover {
    background-color: var(--ocean);
}

.push-button:hover ,
input[type=submit]:hover ,
button:hover {
    cursor: pointer;
}

input[type=text] ,
input[type=password] ,
input[type=date] ,
input[type=time] ,
select ,
textarea {
    border-radius: 0.5em;
    border: 2px solid var(--azure);
    padding: 0.7em;
    
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
}


.login-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--drop-shadow);
    border-radius: 1em;
    color: var(--azure);
    padding: 2em;
    font-weight: bold;
    text-decoration: none;
    border: none;
    flex-grow: 1;
    font-size: medium;
    flex-basis: 50%;
}

@keyframes loading {
    0% {
        width: 2%;
        left: 0%;
    }
    50%{
        width: 20%;
        left: 40%;
    }
    100%{
        width: 2%;
        left: 98%;
    }
}


#feedback {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#feedback fieldset {
    border: none;
}

#feedback>fieldset>legend {
    font-weight: bold;
}

#feedback input[type=radio] {
    margin-right: 2em;
}

#feedback textarea {
    min-height: 8em;
}

.feedback-vertical {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.feedback-horizontal {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

#feedback label {
    font-weight: 500;
}



#kontaktForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#kontaktForm select ,
#kontaktForm input, 
#kontaktForm textarea{
    width:100%;
    box-sizing: border-box;
}

#kontaktForm input[type=checkbox] {
    width: unset;
}