.container {
    padding: 1.5em;
    border-radius: 1.8em;
    box-shadow: 0 3px 10px var(--drop-shadow);
}

.inset-container {
    padding: 1.5em;
    border-radius: 1.8em;
    box-shadow: inset 0 3px 10px var(--drop-shadow);
}



.login-option-container
{
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
    max-width: 30em;
    gap: 2em;
}




.staff-view{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.staff-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.staff-card table tr td:first-child{
    color: var(--azure);
    font-weight: bold;
    text-align: right;
}

.staff-card table tr td:first-child::after{
    content: ':';
}




.fade-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    opacity: 1;
    animation: stretch-in 0.7s ease-in;
}

@keyframes stretch-in {
0% {opacity: 0;}
100% {opacity: 1;}
}

.fade-in button {
    min-width: 20em;
    font-size: large;
}

.main-flex-vertical{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    padding-bottom: 2em;
    align-items: center;
}



.profile-grid {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    background-color: var(--ocean);
    font-size: large;
    align-items: center;
    gap: 5em;
}

.profile-grid * {
    background-color: unset;
    color: var(--silver-100);
    margin: 0;
}

.profile-grid main{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    background-color: unset;
    gap: 5em;
    align-items: center;
    flex-grow: 0;
}

.profile-greeter {
    text-align: center;
}



#bankid-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#bankid-box form {
    text-align: center;
}

#bankid-box form button{
    font-size: large;
    padding: 0.5em 1em;
}


.bankid-qr {
    position: relative;
    overflow: visible;
}

.bankid-qr img {
    border:2px dotted var(--azure); 
    padding:1.5em; 
    border-radius:1em;
    max-height:14em;
    margin:auto;
}

.bankid-qr::after {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    bottom: -1em;
    background-color: var(--azure);
    animation: loading 2s ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}



.prescriptions-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    align-items: center;
}

.prescriptions-list>div {
    width: 100%;
}


footer #info {
    display: flex;
    flex-direction: row;
    gap: 5em;
}