/* 	.STYLE.CSS */
/* 	.STYLE.CSS */


/* 	1_ROOT.CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    /* --- Strawberry Colors --- */
  /*--strawberry-100: #ff8c82;*/
  /*--strawberry-300: #ed5353;*/
  /*--strawberry: #c6262e;*/
  /*--strawberry-700: #a10705;*/
  /*--strawberry-900: #7a0000;*/

  /* --- Orange Colors --- */
  --orange-100: #ffc27d;
  --orange-300: #ffa154;
  --orange: #f37329;
  --orange-700: #cc3b02;
  --orange-900: #a62100;

  /* --- Banana Colors --- */
  /*--banana-100: #fff394;*/
  /*--banana-300: #ffe16b;*/
  /*--banana: #f9c440;*/
  /*--banana-700: #d48e15;*/
  /*--banana-900: #ad5f00;*/

  /* --- Lime Colors --- */
  /*--lime-100: #d1ff82;*/
  /*--lime-300: #9bdb4d;*/
  /*--lime: #68b723;*/
  /*--lime-700: #3a9104;*/
  /*--lime-900: #206b00;*/

  /* --- Mint Colors --- */
  --mint-100: #89ffdd;
  --mint-300: #43d6b5;
  --mint: #28bca3;
  --mint-700: #0e9a83;
  --mint-900: #007367;

  /* --- Blueberry Colors --- */
  /*--blueberry-100: #8cd5ff;*/
  /*--blueberry-300: #64baff;*/
  /*--blueberry: #3689e6;*/
  /*--blueberry-700: #0d52bf;*/
  /*--blueberry-900: #002e99;*/

  /* --- Grape Colors --- */
  /*--grape-100: #e4c6fa;*/
  /*--grape-300: #cd9ef7;*/
  /*--grape: #a56de2;*/
  /*--grape-700: #7239b3;*/
  /*--grape-900: #452981;*/

  /* --- Bubblegum Colors --- */
  /*--bubblegum-100: #fe9ab8;*/
  /*--bubblegum-300: #f4679d;*/
  /*--bubblegum: #de3e80;*/
  /*--bubblegum-700: #bc245d;*/
  /*--bubblegum-900: #910e38;*/

  /* --- Latte Colors --- */
  /*--latte-100: #efdfc4;*/
  /*--latte-300: #e7c591;*/
  /*--latte: #cfa25e;*/
  /*--latte-700: #b6802e;*/
  /*--latte-900: #804b00;*/

  /* --- Cocoa Colors --- */
  /*--cocoa-100: #a3907c;*/
  /*--cocoa-300: #8a715e;*/
  /*--cocoa: #715344;*/
  /*--cocoa-700: #57392d;*/
  /*--cocoa-900: #3d211b;*/

  /* --- Silver Colors --- */
  --silver-100: #fafafa;
  --silver-300: #d4d4d4;
  --silver: #abacae;
  --silver-700: #7e8087;
  --silver-900: #555761;

  /* --- Slate Colors --- */
  --slate-100: #95a3ab;
  --slate-300: #667885;
  --slate: #485a6c;
  --slate-700: #273445;
  --slate-900: #0e141f;

  /* --- Misc. --- */
  --drop-shadow: color-mix(in srgb, var(--slate-900) 15%, transparent);
}


/* 	2_BASE.CSS */
html * {
    font-family: 'Inter', sans-serif; /* Weight from 100 to 900 */
    background-color: var(--silver-100);
    color: var(--slate-900);
}

body {
    background-color: var(--silver-300);
    margin: 0;
}

main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px var(--drop-shadow);
    padding: 1.5em;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.container {
    padding: 1.5em;
    border-radius: 2em;
    box-shadow: 0 3px 10px var(--drop-shadow);
}


/* 	3_STATIC_TEXT.CSS */
/* h1 {

} */

/* h2 {

} */

/* h3 {

} */

/* h4 {

} */

/* h4 {

} */

/* a {
} */

nav>a {
    color: var(--mint);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    opacity: 0%;
    background-color: var(--mint-300);
    transition-property: opacity, left;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

nav>a:hover {
    color: var(--mint-300);
}

nav>a:hover::after {
    opacity: 100%;
    left: 0;
}


.element-name {
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,
                -1px 1px 0 black, 1px 1px 0 black;
}

.logo {
    text-decoration: none;
}

.logo *{
    font-family: "Afacad Flux", sans-serif;
    color: var(--mint);
    font-size: x-large;
}

/* 	4_INPUT.CSS */
.push-button ,
input[type=submit] ,
button {
    text-decoration: none;
    color: var(--silver-100);
    background-color: var(--mint);
    border-radius: 0.8em;
    padding: 0.8em 1em;
    width: fit-content;
    font-weight: 500;
}

.push-button:hover ,
input[type=submit]:hover ,
button:hover {
    background-color: var(--mint-300);
}

input[type=text] ,
input[type=password] ,
textarea {
    border-radius: 0.5em;
    border: 2px solid var(--mint);
    color: var(--mint-700);
    padding: 0.7em;
}

a.login-option {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--drop-shadow);
    border-radius: 1em;
    color: var(--mint);
    padding: 2em;
    font-weight: bold;
    text-decoration: none;
}



/* 	1_ROOT.CSS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

:root {
    /* --- Strawberry Colors --- */
  /*--strawberry-100: #ff8c82;*/
  /*--strawberry-300: #ed5353;*/
  /*--strawberry: #c6262e;*/
  /*--strawberry-700: #a10705;*/
  /*--strawberry-900: #7a0000;*/

  /* --- Orange Colors --- */
  --orange-100: #ffc27d;
  --orange-300: #ffa154;
  --orange: #f37329;
  --orange-700: #cc3b02;
  --orange-900: #a62100;

  /* --- Banana Colors --- */
  /*--banana-100: #fff394;*/
  /*--banana-300: #ffe16b;*/
  /*--banana: #f9c440;*/
  /*--banana-700: #d48e15;*/
  /*--banana-900: #ad5f00;*/

  /* --- Lime Colors --- */
  /*--lime-100: #d1ff82;*/
  /*--lime-300: #9bdb4d;*/
  /*--lime: #68b723;*/
  /*--lime-700: #3a9104;*/
  /*--lime-900: #206b00;*/

  /* --- Mint Colors --- */
  --mint-100: #89ffdd;
  --mint-300: #43d6b5;
  --mint: #28bca3;
  --mint-700: #0e9a83;
  --mint-900: #007367;

  /* --- Blueberry Colors --- */
  /*--blueberry-100: #8cd5ff;*/
  /*--blueberry-300: #64baff;*/
  /*--blueberry: #3689e6;*/
  /*--blueberry-700: #0d52bf;*/
  /*--blueberry-900: #002e99;*/

  /* --- Grape Colors --- */
  /*--grape-100: #e4c6fa;*/
  /*--grape-300: #cd9ef7;*/
  /*--grape: #a56de2;*/
  /*--grape-700: #7239b3;*/
  /*--grape-900: #452981;*/

  /* --- Bubblegum Colors --- */
  /*--bubblegum-100: #fe9ab8;*/
  /*--bubblegum-300: #f4679d;*/
  /*--bubblegum: #de3e80;*/
  /*--bubblegum-700: #bc245d;*/
  /*--bubblegum-900: #910e38;*/

  /* --- Latte Colors --- */
  /*--latte-100: #efdfc4;*/
  /*--latte-300: #e7c591;*/
  /*--latte: #cfa25e;*/
  /*--latte-700: #b6802e;*/
  /*--latte-900: #804b00;*/

  /* --- Cocoa Colors --- */
  /*--cocoa-100: #a3907c;*/
  /*--cocoa-300: #8a715e;*/
  /*--cocoa: #715344;*/
  /*--cocoa-700: #57392d;*/
  /*--cocoa-900: #3d211b;*/

  /* --- Silver Colors --- */
  --silver-100: #fafafa;
  --silver-300: #d4d4d4;
  --silver: #abacae;
  --silver-700: #7e8087;
  --silver-900: #555761;

  /* --- Slate Colors --- */
  --slate-100: #95a3ab;
  --slate-300: #667885;
  --slate: #485a6c;
  --slate-700: #273445;
  --slate-900: #0e141f;

  /* --- Misc. --- */
  --drop-shadow: color-mix(in srgb, var(--slate-900) 15%, transparent);
}


/* 	2_BASE.CSS */
html * {
    font-family: 'Inter', sans-serif; /* Weight from 100 to 900 */
    background-color: var(--silver-100);
    color: var(--slate-900);
}

body {
    background-color: var(--silver-300);
    margin: 0;
}

main {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
}

header {
    text-wrap: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 8px var(--drop-shadow);
    padding: 1.5em;
    z-index: 10;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2em;
}

.container {
    padding: 1.5em;
    border-radius: 2em;
    box-shadow: 0 3px 10px var(--drop-shadow);
}


/* 	3_STATIC_TEXT.CSS */
/* h1 {

} */

/* h2 {

} */

/* h3 {

} */

/* h4 {

} */

/* h4 {

} */

/* a {
} */

nav>a {
    color: var(--mint);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

nav>a::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: -100%;
    opacity: 0%;
    background-color: var(--mint-300);
    transition-property: opacity, left;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

nav>a:hover {
    color: var(--mint-300);
}

nav>a:hover::after {
    opacity: 100%;
    left: 0;
}


.element-name {
    font-style: italic;
    font-weight: bold;
    color: gainsboro;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black,
                -1px 1px 0 black, 1px 1px 0 black;
}

.logo {
    text-decoration: none;
}

.logo *{
    font-family: "Afacad Flux", sans-serif;
    color: var(--mint);
    font-size: x-large;
}

/* 	4_INPUT.CSS */
.push-button ,
input[type=submit] ,
button {
    text-decoration: none;
    color: var(--silver-100);
    background-color: var(--mint);
    border-radius: 0.8em;
    padding: 0.8em 1em;
    width: fit-content;
    font-weight: 500;
}

.push-button:hover ,
input[type=submit]:hover ,
button:hover {
    background-color: var(--mint-300);
}

input[type=text] ,
input[type=password] ,
textarea {
    border-radius: 0.5em;
    border: 2px solid var(--mint);
    color: var(--mint-700);
    padding: 0.7em;
}

a.login-option {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px var(--drop-shadow);
    border-radius: 1em;
    color: var(--mint);
    padding: 2em;
    font-weight: bold;
    text-decoration: none;
}

